#menu{
    -fx-background-image: url("../graphics/backgrounds/eriantys_banner_no_items_85.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 600 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

/*
#button {
    -fx-background-image: url("../graphics/buttons/button.png");
    -fx-background-size: stretch;
    -fx-background-color: transparent;
}*/
